.report-list-item {
  padding: 16px 24px;
  display: flex;
  align-items: center;
  box-shadow:0px 2px 6px 0px rgba(0,0,0,0.04);
  border-radius:5px;
  .icon {
    background: #ccc; /* TODO:del */
    width: 40px;
    height: 40px;
    margin-right: 24px;
  }
  .title-one {
    font-size: 16px;
    color: #2E3236;
  }
  .title-two {
    font-size: 14px;
    color: #8F9DA5;
  }
}
