.report-list-item, .mine-list-item  {
  display: flex;
  align-items: center;
  padding: 16px;
  margin-bottom: 16px;
  background: #fff;
  box-shadow:0px 2px 6px 0px rgba(0,0,0,0.04);
  border-radius:5px;
  .icon-box {
    padding: 8px;
    margin-right: 8px;
    .icon {
      width: 30px;
      height: 30px;
    }
  }
  .title-box {
    .primary-text {
      font-size: 16px;
      color: #2E3236;
    }
    .secondary-text {
      margin-top: 8px;
      font-size: 14px;
      color: #8F9DA5;
    }
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.mine-list-item {
  position: relative;
  height: 56px;
  box-shadow: 0px 0px 13px 3px #eee;
  .icon-box {
    position: absolute;
    left: 0;
    top: 0;
    height: 88px;
    width: 88px;
    padding: 0;
    .icon {
      height: 100%;
      width: 100%;
    }
  }
  .title-box {
    margin-left: 72px;
    .secondary-text {
      font-size: 12px;
      color: #2E3236;
    }
  }
  .button {
    flex: 1;
    text-align: right;
    .icon {
      display: inline-block;
      height: 14px;
      width: 14px;
      transform: rotate(270deg)
    }
  }
} 
