.report-list-item {
  box-shadow:0px 2px 6px 0px rgba(0,0,0,0.04);
  border-radius:5px;
  .icon {
    background: #ccc; /* TODO:del */
    width: 40px;
    height: 40px;
    margin-right: 8px;
  }
  .title-box {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
