// style for image button

.image-button-container {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 7rem;
  border-radius: 0.3rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  p {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    color: #fff;
  }

  .note {
    position: absolute;
    right: 0;
    top: 0;
    width: 5rem;
    height: 2rem;
    line-height: 2rem;
    background: #39f;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 0.3rem;
  }
}