@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
.calendar-container {
  .calendar-head {
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      margin-right: 10px;
      font-size: 18px;
      color: #2E3236;
    }
  }
  .rc-calendar {
    width: 100%;
    line-height: 50px;
    font-size: 14px;
    color: #2E3236;
    outline: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    table {
      border-collapse: collapse;
      border-spacing: 0;
    }
    .rc-calendar-header {
      display: none;
    }
    .rc-calendar-body {
      .rc-calendar-column-header {
        padding: 0;
        width: 50px;
        text-align: center;
      }
      .rc-calendar-column-header[title='周六'],.rc-calendar-column-header[title='周日'] {
        color: #3399FF;
      }
      .rc-calendar-cell {
        padding: 0;
        width: 50px;
        text-align: center;
      }
      .rc-calendar-today {
        color: #3399FF;
        background:rgba(51,153,255,0.2);
        border-radius:25px;
      }
      .rc-calendar-selected-day {
        color: #fff;
        background:rgba(51,153,255,1);
        box-shadow:0px 8px 20px 0px rgba(51,153,255,0.35);
        border-radius:25px;
      }
      .rc-calendar-last-month-cell, .rc-calendar-next-month-btn-day {
        color: #C3CCD1;
      }
    }
  }
}
.datepicker-modal .ios {
  .datepicker-navbar {
    border-bottom: 1px solid #EAEFF2 !important;
    .datepicker-navbar-btn {
      height: 50px;
      line-height: 50px;
      font-size: 16px;
      color: #3399FF;
    }
    .datepicker-navbar-btn:nth-child(2) {
      color: #8F9DA5;
    }
  }
  .datepicker-content {
    padding-top: 60px !important;
    .datepicker-wheel {
      border: none;
      .datepicker-scroll {
        li {
          font-size: 18px;
          color: #8F9DA5;
          font-weight: bold;
        }
        li:nth-child(6) {
          font-size: 20px;
          color: #3399FF;
        }
      }
    }
  }
}
