.sm-icon {
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.sm-icon-xxs {
  width: 1rem;
  height: 1rem;
}

.sm-icon-xs {
  width: 1.2rem;
  height: 1.2rem;
}

.sm-icon-sm {
  width: 1.6rem;
  height: 1.6rem;
}

.sm-icon-md {
  width: 2.5rem;
  height: 2.5rem;
}

.sm-icon-lg {
  width: 4rem;
  height: 4rem;
}

