.sm-icon {
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.sm-icon-xxs {
  width: 10px;
  height: 10px;
}

.sm-icon-xs {
  width: 16px;
  height: 16px;
}

.sm-icon-sm {
  width: 20px;
  height: 20px;
}

.sm-icon-md {
  width: 25px;
  height: 25px;
}

.sm-icon-lg {
  width: 40px;
  height: 40px;
}

