.loadable-container {
  background: transparent;

  .footer {
    height: 5rem;
    line-height: 5rem;

    .load-btn-container {
      text-align: center;

      .load-btn {
        font-size: 1.6rem;
        color: #39f;
        cursor: pointer;
      }
    }

    p {
      font-size: 1.6rem;
      color: #000;
      text-align: center;
    }

    .loading-icon {
      margin: 0 auto;
      width: 2rem;
      height: 2rem;
      border: 2px solid #eee;
      border-left-color: #aaa;
      border-radius: 50%;
      animation: loading-icon 0.9s infinite linear;
    }

    @keyframes loading-icon {
      0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
  }
}