.schedule-list {
    padding: 1.6rem;
    header {
      display: flex;
      span {
        flex: 1;
      }
      .time {
        font-size: 1.8rem;
        color: #39f;
      }
      .status {
        text-align: right;
        font-size: 1.4rem;
        .sm-icon-sm {
          height: 1.4rem!important;
          width: 1.4rem!important;
          margin-right: 0.8rem;
        }
        .blue {
          color: #39f;
        }
        .red {
          color: red;
        }
        .gray {
          color: #8F9DA5;
        }
      }
    }
    main {
      display: flex;
      >div {
        flex: 1;
      }
      .name {
        .course-name {
          font-size: 1.6rem;
          display: flex;
          .identification-box {
            display: flex;
            align-items: center;
          }
          .identification {
            display: inline-block;
            height: 1.4rem;
            width: 1.4rem;
            margin-right: 1rem;
            border-radius: 0.2rem;
            border: 1px solid #39f;
            text-align: center;
            line-height: 1.4rem;
            font-size: 1rem;
            color: #39f;
          }
        }
        .classroom {
          font-size: 1.2rem;
          color: #8F9DA5;
        }
      }
      .member {
        text-align: right;
        color: #53595F;
        p {
          margin: 0;
          span {
            display: inline-block;
            width: 3rem;
            overflow: hidden;
            text-align: center;
            font-size: 1.2rem;
          }
          .right {
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }
    }
    footer {
      .view-button {
        width: 100%;
      }
      div {
        display: flex;
        p {
          flex: 1;
          button {
            width: 100%;
          }
        }
      }
      .finished-button {
        padding-left: 1rem;
      }
      .unfinish-button {
        padding-right: 1rem;
      }
    }
}