.schedule-list {
    padding: 0 16px;
    header {
      display: flex;
      span {
        flex: 1;
      }
      .status {
        text-align: right;
        .sm-icon-xs {
          margin-right: 1rem;
        }
      }
    }
    main {
      display: flex;
      >div {
        flex: 1;
      }
      .name {
        .classroom {
          color: #8F9DA5;
        }
      }
      .member {
        text-align: right;
        color: #53595F;
        p {
          margin: 0;
          span {
            display: inline-block;
            width: 3rem;
          }
        }
      }
    }
    footer {
      .view-button {
        width: 100%;
      }
      div {
        display: flex;
        p {
          flex: 1;
          button {
            width: 100%;
          }
        }
      }
      .finished-button {
        padding-left: 10px;
      }
      .unfinish-button {
        padding-right: 10px;
      }
    }
}