.load-more-container {
  background: transparent;

  .contents {
    height: 90%;
  }

  .operation {

    .load-btn-container {
      text-align: center;

      .load-btn {
        font-size: 1.6rem;
        color: #39f;
        cursor: pointer;
      }
    }

    p {
      font-size: 1.6rem;
      color: #000;
      text-align: center;
    }
  }
}