.paragraph-container {
  margin-bottom: 24px;
  display: flex;
  .icon {
    margin-right: 8px;
  }
  .paragraph {
    .paragraph-title {
      margin: 0;
      font-size: 16px;
      font-weight: normal;
      color: #3399FF;
    }
    .paragraph-content {
      margin: 16px 0 0 0;
      font-size: 14px;
      color: #53595F;
    }
  }
}
